@font-face {
 font-family: "Akrobat";
 src: url("../fonts/Akrobat.woff2") format("woff2"),
        url("../fonts/Akrobat.woff") format("woff"),
        url("../fonts/Akrobat.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
}
@font-face {
 font-family: "Akrobat black";
 src: url("../fonts/Akrobatblack.woff2") format("woff2"),
        url("../fonts/Akrobatblack.woff") format("woff"),
        url("../fonts/Akrobatblack.ttf") format("truetype");
		font-weight: bold;
		font-style: normal;
}
#reg-popup .main-form .but-block .btn-black:first-child{
	margin-right:12px;
}
body {
    font-family: "Akrobat",sans-serif;
    color: #313131;
    font-size: 14px;
    background-color: #fff;
	margin: 0;
}
*{    font-family: "Akrobat",sans-serif;}
h1{
	font-size:60px;
	font-family: "Akrobat black",sans-serif;
}
h2{
	font-size:36px;
	font-family: "Akrobat black",sans-serif;
	margin-bottom:25px;
}
p{
	font-size:18px;
	color:#313131
}
a {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-decoration: none;
}
.container{
	width:1170px;
	margin:0 auto;
	position:relative;
	max-width: 100%;
}
header>div>div {
    display: inline-block;
	float: left;
	padding:33px 0;
}
header>div>div:last-child{
	padding:33px 0;
}
header .container{
	min-height:106px;
}
input:focus-visible {
    border: 1px solid #adadad;
    outline: none;
}
.logo{
	font-size:34px;
	font-family: "Akrobat black",sans-serif;
	color:#000;
}
.menu li a{
	font-size: 16px;
	margin: 0 30px;
	transition: .5s;
}
.menu li a:hover {
    color: #ad2525;
}

.menu li{
	list-style:none;
	display: inline-block;
}
.menu{
	margin-left: 15px;
}
.right{
	float:right;
}
.btn-black{
	padding: 10px 0;
	border:1px solid #000;
	border-radius:50px;
	width: 165px;
	display: inline-block;
	text-align: center;
	font-size: 14px;
	cursor:pointer;
	transition: .5s;
}
.btn-black:hover{
	background:#f95151;
	border:1px solid #f95151;
	color:#fff;
}
.btn-white:hover{
	background:#f95151;
	border:1px solid #f95151;
	color:#fff;
}
.btn-red:hover{
	background:#d84141;
	border:1px solid #d84141;
}
.btn-red{
	padding:10px 0;
	color:#fff;
	border-radius:50px;
	background:#f95151;
	width: 165px;
	display: inline-block;
	text-align: center;
	font-size: 14px;
	border: 1px solid #f95151;
	cursor:pointer;
	transition: .5s;
}
.home-block .btn-red{
	font-size: 18px;
	width: 195px;
	padding:15px 0;
}
.btn-white {
    text-align: center;
    padding: 15px 0;
    border: 1px solid #fff;
    border-radius: 50px;
    color: #fff;
    width: 195px;
    display: inline-block;
	font-size: 18px;
	transition: .5s;
}
header .btn-black{
	margin-right:20px;
}
.home-block .btn-white{
	margin-right:20px;
}
.home-block{
    background: url('../img/bckg.jpg');
	background-size: cover;
    text-align: center;
    color: #fff;
    width: 100%;
    padding: 140px 0 200px 0;
}
.home-block h1{
	margin-bottom:35px;
}
.home-block p{
	font-size:24px;
	margin-bottom:50px;
	color:#fff;
}
.home-block .container{
	max-width:700px;
}
.home-bottom{
	text-align:center;
	max-width:360px;
	padding: 50px 0 50px 0;
}
footer{
	background:#000;
	text-align:center;
	padding: 50px;
}
footer p{
	color:#fff;
	font-size:16px;
}
.swiper-container {
  width: 100%;
  height: 100%;
  margin-bottom:100px;
}

.swiper-button-prev{
	left:-20px!important;
	--swiper-theme-color: #aaa;
}
.swiper-button-prev:hover{
	--swiper-theme-color: #5f5f5f
}
.swiper-button-next{
	right:-20px!important;
	--swiper-theme-color: #aaa;
}
.swiper-button-next:hover{
	--swiper-theme-color: #5f5f5f
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.container-slider{
	padding:0 40px;
	max-width:920px;
}
.swiper-button-next:after, .swiper-button-prev:after{
	font-size: 28px!important;
}
.color-red{
	color:#ad2525;
}
.main-form{
	background:#fff;
    max-width: 320px;
    width: 100%;
    height: auto;
    margin: 0 auto;
	position: fixed;
    top: 180px;
    right: 0;
    left: 0;
    text-align: center;
    border-radius: 20px;
	z-index: 999;
	padding-bottom:30px;
}
.main-form input{
    width: calc(100% - 28px);
	border-radius:20px;
	padding:13px;
	margin-bottom: 15px;
	border:1px solid;
}
.main-form textarea{
	width: calc(100% - 28px);
	border:1px solid;
	padding:13px;
	border-radius:20px;
	min-height: 70px;
}
.main-form form{
	padding:25px 45px;
}
.main-form input[type="checkbox"] {
    float: left;
    width: 17px;
}
.main-form .checkbox-block{
	text-align:left;
	margin:20px 0;
}
.main-form .checkbox-block span{
		color:#8b8989;
		font-size:10px;
}
.main-form .btn-black,.main-form .btn-red{
    width: auto;
    display: inline-block;
    font-size: 12px;
    padding: 13px 18px;
    float: left;

}
.main-form .btn-red{
	margin-right:20px;
}
.popup{
	position: fixed;
    top: 0px;
    right: 0;
    left: 0;
	bottom:0;
	background: #00000070;
	z-index:9999;
	display:none;
}
.popup.open{
	display:block;
}
.popup .close{
    border-radius: 100%;
    position: absolute;
    border: 1px solid #909090;
    top: 10px;
    right: 10px;
    width: 26px;
    height: 26px;
    font-size: 21px;
    color: #909090;
    line-height: 1;
    font-family: cursive;
	cursor:pointer;
}
.popup a{
	color:#0a58ce;
	text-decoration:underline;
}
#login-popup .btn-black{
	width: auto;
	padding: 15px 40px;
	float: none;
	margin:10px 0 0 0;
}
.main-form h3{
	font-size:24px;
	margin-top:25px;
	margin-bottom:-10px;
}
.main-form p{
	font-size:16px;
	color:#8b8989;
}
.desc-hidden{
	display:none;
}
.mobile-hidden{
	display:block;
}
.white .logo{
	color:#fff;
}
 .white .menu__btn span:before, .white .menu__btn span:after{
	 background-color:#fff;
 }
@media screen and (max-width: 767px) {
	.container{
		max-width:100%;
	}
	.mobile-hidden{
		display:none;
	}
	.desc-hidden{
		display:block;
	}
	.btn-red{
		font-size:11px;
		width:auto;
		padding:5px 16px;
	}
	header .container {
		min-height: 70px;
		position: fixed;
		background: #fff;
		top: 0;
		z-index:99;
	}
	div.right {
		padding: 23px 15px!important;
	}
	a.logo {
		font-size: 16px;
	}
	header>div>div {
		padding: 26px 0;
	}
	.home-block .container {
		max-width:100%;
	}

	.hamburger-menu{
		min-width:70px;
	}
	.home-block h1{
		font-size:48px;
		margin-top: 0;
	}
	.home-block {
		padding: 85px 0 60px 0;
	}
	.home-block p {
		font-size: 14px;
		padding: 0px 25px;
	}
	.home-block a.btn-white, .home-block a.btn-red{
		width: 155px;
		font-size:12px;
	}
	.home-block .btn-white{
		margin: 0 auto 15px auto;
		display:block;
	}
	.home-block .btn-red{
		margin: 0 auto ;
		display:block;
	}
	.zindex{
		z-index:9999;
		position:relative;
	}
	h2 {
		font-size: 23px;
	}
	footer p {
		font-size: 14px;
	}
	footer{
		padding:42px;
	}
	body{
		padding-top:70px;
	}
	.home-bottom p{
		font-size:12px;
		padding: 0px 30px;
	}
	.home-bottom {
		padding: 20px 0 40px;
	}
	.container-slider{
		width:auto;
	}
	.swiper-button-prev{
		left:10px!important;
	}
	.swiper-button-next {
		right: 10px!important;

	}
	#menu__toggle {
	  opacity: 0;
	}
	.menu__btn {
	  display: flex;
	  align-items: center;
	  position: absolute;
	  top: 22px;
	  left: 15px;
	  width: 26px;
	  height: 26px;
	  cursor: pointer;
	  z-index: 100;
	}
	.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
	  display: block;
	  position: absolute;
	  width: 100%;
	  height: 2px;
	  background-color: #616161;
	}
	.menu__btn > span::before {
	  content: '';
	  top: -8px;
	}
	.menu__btn > span::after {
	  content: '';
	  top: 8px;
	}
	.menu__box {
		display: block;
		position: fixed;
		visibility: hidden;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 80px 0;
		list-style: none;
		background: #000;
		z-index:99;
	}
	.menu__item {
		display: block;
		padding: 14px 17px;
		color: #fff;
		font-size: 24px;
		font-family: "Akrobat black";
	}
	#menu__toggle:checked ~ .menu__btn > span {
	  transform: rotate(45deg);
	}
	#menu__toggle:checked ~ .menu__btn > span::before {
	  top: 0;
	  transform: rotate(0);
	}
	#menu__toggle:checked ~ .menu__btn > span::after {
	  top: 0;
	  transform: rotate(90deg);
	}
	#menu__toggle:checked ~ .menu__box {
	  visibility: visible;
	  left: 0;
	}
	.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
	  transition-duration: .25s;
	}
	.menu__box {
	  transition-duration: .25s;
	}
	.menu__item {
	  transition-duration: .25s;
	}
	.main-form {
		background: #f7f5f5;
		bottom: 0;
		border-radius: 0;
		top: 69px;
	}
	.popup{
		background:none;
	}
	.main-form h3 {
		font-size: 16px;
		margin-top: 80px;
		margin-bottom: 0;
	}
	.main-form p {
		font-size: 11px;
		margin-top: 10px;
	}
	.main-form input {
		padding: 8px 12px;
		background: none;
		max-width: 155px;
	}
	.main-form form {
		padding: 8px 68px;
	}
	#reg-popup h3 {
		margin-top: 40px;
	}
	.main-form textarea {
		width: 155px;
		background: none;
		min-height: 45px;
	}
	.but-block, .main-form .checkbox-block {
		display: inline-block;
	}
	.main-form .btn-black {
		font-size: 8px;
		padding: 10px 35px!important;
	}
	#reg-popup .main-form .btn-black {
		padding: 10px 20px!important;
		width: auto;
	}
	#reg-popup .main-form .btn-black:first-child {
		margin-right: 12px;
	}
	.main-form input[type="checkbox"] {
		height: 25px;
		margin-right: 10px;
	}
}

@media screen and (max-width: 1440px) {
	.main-form{
		top:20px;
	}
}
